[Unit]
Description = "Timer: Software that controls the charging of the inverter"

[Timer]
OnCalendar=Mon..Sun 00:05
RandomizedDelaySec=0
Persistent=true

[Install]
WantedBy=timers.target
