[Unit]
Description = "Software that logs the solar forecast of the day"
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=<path to repository> # Change here
ExecStart=<path to repository>/.venv/bin/python3.11 <path to repository>/source/main.py --solar-review # Change here
ExecStartPost=<path to repository>/solar_forecast_and_power_buy_logger.sh # Change here
User=<user to run program as> # Change here

[Install]
WantedBy=default.target
