[Unit]
Description = "Software that controls the charging of the inverter"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=<path to repository>/InverterChargeController/.venv/bin/python3.11 <path to repository>/InverterChargeController/source/main.py # Change here
User=<user to run program as> # Change here

[Install]
WantedBy=default.target
