[Unit]
Description = "Software that logs the expected amount of solar output of the day (in the morning)"
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/chrctrl/app/
ExecStart=/home/chrctrl/app/.venv/bin/python3.11 /home/chrctrl/app/source/main.py --solar-forecast
User=chrctrl
StandardOutput=null

[Install]
WantedBy=default.target
