[Unit]
Description = "Software that logs the amount of solar output of the day (in the evening)"
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/chrctrl/app/
ExecStart=/home/chrctrl/app/.venv/bin/python3.11 /home/chrctrl/app/source/main.py --solar-review
ExecStopPost=/home/chrctrl/app/solar_forecast_logger.sh
User=chrctrl
StandardOutput=null

[Install]
WantedBy=default.target
