[Unit]
Description = "Timer: Software that logs the amount of solar output of the day (in the evening)"

[Timer]
OnCalendar=Mon..Sun 23:05
RandomizedDelaySec=0
Persistent=true

[Install]
WantedBy=timers.target
