[Unit]
Description = "Timer: Software that logs the expected amount of solar output of the day (in the morning)"

[Timer]
OnCalendar=Mon..Sun 05:00
RandomizedDelaySec=0
Persistent=true

[Install]
WantedBy=timers.target
