[Unit]
Description = "Software that controls the charging of the inverter"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/chrctrl/app/.venv/bin/python3.11 -m source.main
WorkingDirectory=/home/chrctrl/app
User=chrctrl
StandardOutput=null

[Install]
WantedBy=default.target
