[Unit]
Description = "Software that logs the solar forecast of the day"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/chrctrl/app/.venv/bin/python3.11 /home/chrctrl/app/source/main.py --solar-review
User=chrctrl

[Install]
WantedBy=default.target
